/************  Overide Bootstrap ****************/

.badge{
  background-color: #4EBF85;
}

/******************** CSS ***********************/ 
, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Hind Madurai', sans-serif;;
  font-size: small;
  background-color: #FFEACF;
}
h1{
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
h2{
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 600;
}
h3{
  font-size: 0.7rem ;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 600;
}

/******************* NavBar *********************/
.navbar{
  border-radius: 0 0 0.2rem 0.2rem;
  background-color: #42cafd;
}
.nav-size{
  max-width: 90%;
}
.nav-item{
  text-align: center;
}
.nav-item{
  font-size: 1rem;
}
.navbar-brand{
  padding-right: 5rem;
}

/******************* FlexBox ********************/

.container {
  display:flex;
  flex-direction: column;
  margin-top: 3.5rem;
  width : 85vw;
}

/****************** Mainpage ********************/

.actionsCulturelles, .history{
  display:flex;
  flex-direction: column;
  border: 2px solid #8eb19d;
  border-radius: 1rem;
  padding:1rem;
  margin: 1rem 0 1rem 0;
}
.actionsCulturelles img, .history img{
  border-radius: 10px;
}
.list{
  padding: 1rem 0 1rem 2rem;
  }

/***************** Events Page ******************/
.event{
  display:flex;
  flex-direction: column;
  border: 2px solid #8eb19d;
  border-radius: 1rem;
  padding:1rem;
  margin: 1rem auto;
}
.event img{
  border-radius: 10px;
}
.infos{
  font-style: italic;
  font-weight: 600;
  color: dimgray;
  text-decoration: underline;
  margin: 0 auto;
  text-align: center;
}
.infos a{
  margin: 0 auto;
}
/***************** Contact Page *****************/

.contact-form, .adress{
  display:flex;
  flex-direction: column;
  border: 2px solid #8eb19d;
  border-radius: 1rem;
  padding:1rem;
  margin: 1rem auto;
}
::placeholder{
  font-size: 0.8rem;
}
label{
  font-size: 0.8rem;
  padding: 5px;
}
#selectRecipient{
  font-size: 0.8rem;
  font-weight: 500;
}
textarea{
  margin: 1rem auto;
  max-width: 95%;
  min-width: 90%;
}
.formButton{
  display: flex;
  justify-content: space-around;
}
.text-forced{
  display: flex;
  align-items: flex-end;
}
.adress span{
  padding-bottom: 1rem;
}
/***************** Carte google map ************/
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;>
  height:0;
  max-width:95vw;
  display:flex;
  margin: 1rem auto;
  border: 2px solid #4EBF85;
  border-radius: 1rem;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  padding: 0.5rem;
  border-radius: 3rem;
} 

/*******************  Footer ********************/

footer{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  background-color:#42cafd ;
  border-radius: 0.2rem 0.2rem 0 0;
}
.socialNetworks{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1rem 0 0 0;
}
.copyright{
  display:flex;
  margin: 0 auto;
  padding: 1rem;
}

/** Font Awesome Icon **/
.fab{                    
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: OliveDrab;
  border: 1px solid OliveDrab;
  border-radius: 50%;
}

/**************** Media Queries  ****************/
@media screen and (min-width: 450px){

  .container{
    max-width: 90vw;
    margin-top: 4rem;
  }


@media screen and (min-width: 992px){

.container{
  max-width: 90vw;
  margin-top: 80px;
}
.badge {
  visibility: hidden; /* Cache les boutons Lire la suite */
}
/******* NavBar ********/
.nav-size{
  max-width: 85%;
}

/****** Mainpage *******/
.mainPage{
  display: flex;
align-items: center;
}
#historyCollapse, #actionsCollapse,#zecTourCollapse {
  display: block;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}
.list{
  padding: 1rem 0 1rem 3rem;
  }
.history, .actionsCulturelles{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 70%;
}
.history h2, .actionsCulturelles h2{
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.img-text{
  padding: 0 2rem 0 2rem;
}
/******* Event *******/
.event-responsive, .event-responsive-2{ 
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.event-responsive-2{
  align-items: baseline;
}
.event-responsive-3{
  display: block;
  max-width: 70%;
  margin: 0 auto;
}
.event-responsive-3 .event-text{
  padding-bottom: 0;
}
.event .event-responsive-3 .event-info{
  margin-top: 3rem;
}
.event h2{
  font-size : 1.5rem;
}
.event-text{
  padding: 2rem;
}
.event-img{
  display: flex;
  min-width: 50%;
  margin : 1rem;
  align-items: center;
}
.event-info{
  display: block;
  min-width: 80%;
  max-width: 90%;
  padding: 1rem 0 01rem 3rem;
}
.event-block{
  max-width: 50%;
  padding: 1rem;
}
/**** Contact page *****/
.contact-form, .adress{
  padding:2rem;
}
.form-group{
  max-width: 50%;
  margin: 0 auto
}
.formButton{
  max-width: 50%;
  margin: 0 auto;
}
/**** Map responsive ****/
.map-responsive iframe{
  padding: 2rem;
}

@media screen and (min-width: 1200px){

.container{
  max-width: 85vw;
}
/******* NavBar ********/
.nav-size{
  max-width: 85%;
}
}

@media screen and (min-width: 1400px){
.container{
  max-width: 80vw;
}

/******* NavBar ********/
.nav-size{
  max-width: 80%;
}
}
@media screen and (min-width: 1800px){
  .container{
    max-width: 50vw;
  }

/******* NavBar ********/
.nav-size{
  max-width: 50%;
}